<div class="item">
  <a [routerLink]="['/' + movie.key]" queryParamsHandling="merge">
    <div class="poster">
      <img [src]="posterPath" />
    </div>
    <h2>{{ movie.name }}</h2>
    <p class="rating"><img src="assets/images/icons/star.png" />{{ movie.rate }}</p>
  </a>
</div>
