.item {
  width: 12.8rem;
  padding: 0.5rem;
  opacity: 0.8;
  margin-bottom: 1rem;

  &:hover {
    opacity: 1;
  }
}

.poster {
  width: 100%;
  margin-bottom: 0.5rem;
  background: #555;

  img {
    width: 100%;
  }
}

h2 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.rating {
  display: flex;
  align-items: center;

  img {
    width: 1rem;
    margin-right: 1rem;
  }
}
