div {
  position: relative;
  display: flex;
  align-items: center;
}

form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0;
  width: 63rem;

  @media (max-width: 1200px) {
    width: 50rem;
  }

  @media (max-width: 768px) {
    width: 35rem;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

input {
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  border: 1px solid #555;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;

  @media (max-width: 576px) {
    height: 2.5rem;
  }
}

.back-btn {
  position: absolute;
  left: -4rem;
  top: 0;
  margin-top: 1.5rem;

  img {
    width: 2rem;

    @media (max-width: 1024px) {
      width: 1.5rem;
    }
  }

  @media (max-width: 1024px) {
    width: 2.5rem;
    height: 2.5rem;
    position: static;
    margin-top: 0;
  }
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  position: absolute;
  margin-top: 1rem;
  top: 0;
  left: 100%;

  img {
    width: 1.5rem;
  }

  @media (max-width: 576px) {
    position: static;
    margin-top: 0;
    width: 2.5rem;
    height: 2.5rem;
  }
}
