<div>
  <button *ngIf="showBackButton" class="back-btn" (click)="goBack()">
    <img src="assets/images/icons/back.png" />
  </button>
  <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
    <input formControlName="search" />
    <button class="submit-btn" type="submit"><img src="assets/images/icons/search.png" /></button>
  </form>
</div>
