.card {
  display: flex;
  padding: 0 0.5rem;
  margin-bottom: 4rem;
  
  @media (max-width: 576px) {
    flex-wrap: wrap;
    padding: 0 2rem;
  }
}

.poster {
  margin-right: 2rem;

  @media (max-width: 576px) {
    margin: 0 auto;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  img {
    width: 1.5rem;
    margin-right: 1rem;
  }
}
.genre {
  text-transform: capitalize;

  &:after {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 0.5rem;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }
}

h3 {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
