<div class="card">
  <img [src]="'assets/images/movie-covers/' + movie.img" class="poster" />
  <div>
    <h1>{{ movie.name }}</h1>
    <p><img src="assets/images/icons/star.png" />{{ movie.rate }}</p>
    <p>
      <img src="assets/images/icons/mask.png" />
      <span class="genre" *ngFor="let genre of movie.genres">{{ genre }}</span>
    </p>
    <p><img src="assets/images/icons/clock.png" />{{ movie.length }}</p>
    <p>{{ movie.description }}</p>
  </div>
</div>
<div>
  <h3>
    Some matching movies
  </h3>
  <app-movies-list [movies]="matchingMovies"></app-movies-list>
</div>
